---
import { Image } from "astro:assets";
import portrait from "../assets/portrait.png";

import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SocialLinks from "@/components/SocialLink.astro";
import Link from "../components/shared/Link.astro";

import presentation from "@/data/presentation";
import projects from "../data/projects";
import education from "@/data/education";
import workExperience from "@/data/experience";
---

<Layout title="Welcome to my portfolio website and blog!">
  <main>
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>
        <div class="flex flex-row justify-between">
          <h2
            class="w-auto max-w-[60ch] leading-6 text-neutral-100"
            set:html={presentation.description}
          />
          <Image
            src={portrait}
            alt="My profile photo"
            class="w-64 object-contain rounded-full"
          />
        </div>
        <div class="flex-col gap-4">
          <h2 class="text-neutral-100 text-2xl">Education</h2>
          {
            education.map((edu) => (
              <div class="flex flex-col gap-2 pt-4 pb-3 rounded-md">
                <h3 class="text-neutral-100 text-xl font-semibold">
                  {edu.title}
                </h3>
                <p class="text-neutral-100">{edu.institution}</p>
                <p class="text-neutral-100">{edu.educationTime}</p>
                <p class="text-neutral-100">{edu.description}</p>
              </div>
            ))
          }
        </div>
        <div class="flex-col gap-4">
          <h2 class="text-neutral-100 text-2xl">Work Experience</h2>
          {
            workExperience.map((work) => (
              <div class="flex flex-col gap-2 pt-4 pb-3 rounded-md">
                <h3 class="text-neutral-100 text-xl font-semibold">
                  {work.title}
                </h3>
                <p class="text-neutral-100">{work.company}</p>
                <p class="text-neutral-100">{work.workTime}</p>
                <p class="text-neutral-100">{work.description}</p>
              </div>
            ))
          }
        </div>
      </div>
    </article>
  </main>
</Layout>
